{% extends wrapper_template %}
{% block javascript %}
    {% load static %}
    <script src="{% static 'status_app/js/chart.js' %}"></script>
{% endblock %}
{% block content %}

{% for source in data %}
    <div style="float: left;">
    {{ source.name }}:
    </div>
    <div style="float: left;">
    <canvas id="chart_{{source.name}}" width="600" height="200"></canvas>

    <script>
    (function() {
        var ctx = document.getElementById("chart_{{source.name}}").getContext("2d");
        var myNewChart = new Chart(ctx).Line({
            labels: [{% for minute in source.minutes %}''{% if not forloop.last %},{% endif %}{% endfor %}],
            datasets: [{
                data: [{% for minute in source.minutes %}{{minute}}{% if not forloop.last %},{% endif %}{% endfor %}]
            },
            ]
        },
        {
            pointDot : false,
            animation: false
        }
        );
    })();
    </script>
    </div>
    <br clear="both" />

{% endfor %}

{% endblock %}
